<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-wrap">
      <!--Cabecera-->
      <header class="main" id="h1">
        <h2>Quiz el juego de preguntas</h2>
      </header>
      <!--Barra de Navegacion-->
      <nav class="main" id="n1" role="navegation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Preguntas</a></span>
      </nav>
      <!--Section -->
      <section class="main" id="s1">
        <%- body %>
      </section>
      <!--Footer-->
      <footer class="main" id="f1">
        <a href="https://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>
    </div>
  </body>
</html>
